%table.table.table-striped.table-responsive
	%thead	
		%tr
			%th.col-xs-2 Picture
			%th.col-xs-7 Title
			%th.col-xs-2 District
			%th.col-xs-1 Type
	%tbody
		- listings.each do |listing|
			%tr
				%td 
					%img{ :src => listing.listing_pictures.first.avatar.thumb150.url }
				%td #{ link_to listing.title, listing_path(listing) }
				%td #{ District.find_by_id(listing.district_id).name }
				%td #{ DwellingKind.find_by_id(listing.dwelling_kind_id).name }
			
