.pure-g
	.pure-u-1	
		= image_tag 'kuala-lumpur-city-skyline-detailed-silhouette-vector-illustration-33531888.jpg', :width => '100%'
	.pure-u-1	
		%h1 Featured listings here
	.pure-u-1	
		%h1 Pretend map to explore
