= image_tag 'klcc.jpg', :width => '100%'
.container
	.row
		.col-xs-12
			%h1.page-header Recent Listings
	.row
		- @listings.each do |listing|
			= render :template =>  'listings/thumbnail.template', :locals => { :listing => listing }

